@import '../global/sizes.scss';

/*******************************
    Global
********************************/
* {
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none;
      scroll-behavior: auto;
    }
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: var(--bg-body);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-body-bold);
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 10px;
    color: var(--text-body);

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.15;
    }

    i {
        color: var(--accent);
        font-size: 1.5em;
    }

    p {
        background: linear-gradient(to right, var(--text-color), var(--text-body));
        background-size: 400% 400%;
        animation: gradient 2s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 200%;
        margin: 0;
    }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body {
    margin: 0;
    padding: 0;
    background: var(--bg-body);
    font-family: var(--font-body);
    font-size: var(--mBody);
    color: var(--text-body);
    overflow-x: hidden;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.15;
    }
}
main {
    color: var(--text-content);
    margin: 0 var(--spacing-md) var(--spacing-md);
    font-size: var(--lBody);
    line-height: 200%;

    @media only screen and (min-width: $sm) {
        margin: 0 var(--spacing-lg) var(--spacing-lg);
    }

    @media only screen and (min-width: $xxl) {
        margin: 0 auto;
        max-width: 1300px;
    }

    body:not(#idx) & {
        margin-top: calc(var(--size-menu-height) + var(--size-submenu-height) + var(--spacing-lg));
    }

    & > div.tableborder {
        margin-top: var(--spacing-xl);
    }
}
a {
    text-decoration: none;
    color: var(--text-body);

    &[href=""],
    &[href="<i>No Information</i>"] {
        display: none;
    }

    &[target="_blank"]:not(.staffOnly) {
        &::after {
            font-family: 'Font Awesome 6 Pro';
            padding-left: var(--spacing-sm);
            font-size: 0.8em;
            top: -1px;
            position: relative;
            color: var(--accent);
        }
    }
}
img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

ul {
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 200%;

    br {
        display: none;
    }

    li {
        padding-left: 10px;
        
        &::marker {
            font-family: 'Font Awesome 6 Pro';
            font-weight: 300;
            font-style: normal;
            font-size: 0.7em;
            color: var(--accent);
        }
    }
}
.webpage--content,
.profile--content,
.post--content,
#Post .postcolor,
.forum--message {
    b {
        color: var(--text-color);
        font-family: var(--font-body-bold);
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 0.05em;
        padding: 0 2px;
    }
    i {
        font-weight: 300;
        letter-spacing: 0.05em;
        font-size: 1.1em;
        color: var(--text-color);
        padding: 0 2px;
    }
    u {
        text-decoration: none;
        border-bottom: 2px solid var(--border-color);
        background: var(--bg-color-transparent);
        padding: 0 7px;
    }
    a {
        font-family: var(--font-body-bold);
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.05em;
        border-bottom: 2px solid var(--accent);
        padding: 0 var(--spacing-xs);
    }
    s {
        font-style: italic;
        text-decoration-style: dotted;
        text-decoration-color: var(--text-body);
        color: var(--text-color);
        text-decoration-thickness: 1px;
    }

    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    h7,
    .h7,
    h8,
    .h8 {
        line-height: 160%;
        max-width: max-content;
    
        &:first-child {
            margin-top: 0;
        }
    
        &:not(:first-child) {
            margin-top: var(--spacing-lg);
        }
    
        p + &:not(:first-child) {
            margin-top: var(--spacing-xl);
        }

        a {
            font-size: 1em !important;
            border-bottom: none !important;

            &::after {
                font-family: 'Font Awesome 6 Pro';
                padding-left: var(--spacing-sm);
                font-weight: 300;
            }
        }
    
        &[data-align="left"],
        &[data-align="Left"],
        &[data-align="LEFT"] {
            margin-left: 0;
            margin-right: auto;
            text-align: left;
        }
    
        &[data-align="center"],
        &[data-align="Center"],
        &[data-align="CENTER"] {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    
        &[data-align="right"],
        &[data-align="Right"],
        &[data-align="RIGHT"] {
            margin-left: auto;
            margin-right: 0;
            text-align: right;
        }
    }
    h2,
    .h2 {
        font-size: 40px;
        font-family: var(--font-serif);
        margin: 0 auto var(--spacing-lg);
        padding-bottom: 10px;
        text-align: center;
    
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 32.5px);
            width: 75px;
            height: 3px;
            background: var(--bg-color);
            border-radius: 2px;
        }
    }
    h3,
    .h3 {
        font-size: 26px;
        font-family: var(--font-serif);
        margin: 0 auto var(--spacing-lg) 0;
        padding: 0 0 10px var(--spacing-md);
    
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 75px;
            height: 3px;
            background: var(--bg-color);
            border-radius: 2px;
        }
    }
    h4,
    .h4 {
        font-size: 22px;
        font-family: var(--font-body-bold);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: var(--spacing-sm) 0 var(--spacing-sm) var(--spacing-lg);
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background: var(--bg-color);
            border-radius: 2px;
        }
    }
    h5,
    .h5 {
        font-size: 16px;
        font-family: var(--font-body-bold);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background: var(--bg-color);
            border-radius: 2px;
        }
    }
    h6,
    .h6 {
        font-size: var(--sBody);
        font-family: var(--font-body-bold);
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding: var(--spacing-sm) var(--spacing-md);
        background: var(--bg-color-transparent);
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background: var(--bg-color);
            border-radius: 1px;
        }
    }
    h7,
    .h7 {
        display: block;
        max-width: max-content;
        font-size: calc(var(--xsBody) + 1px);
        font-family: var(--font-body-bold);
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding: var(--spacing-xs) var(--spacing-sm);
        background: var(--bg-color-transparent);
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background: var(--bg-color);
            border-radius: 1px;
        }
    }
    h8,
    .h8 {
        display: block;
        font-size: var(--xsBody);
        font-family: var(--font-body-bold);
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: justify;
        max-width: 300px;
        line-height: 275%;
    }
    .h2,
    .h3,
    .h8 {
        &::before {
            display: none;
        }
    }
    .h4,
    .h5,
    .h6,
    .h7,
    .h8 {
        &::after {
            display: none;
        }
    }
    blockquote {
        max-width: 500px;
        margin: 0 auto;
        text-align: justify;
        border-left: 3px solid var(--border-color);
        padding: var(--spacing-sm) var(--spacing-md);
        background: var(--bg-color-transparent);
        font-size: var(--lBody);
        font-weight: 300;
        border-radius: 3px;
        line-height: 200%;
        letter-spacing: 0.025em;
    }
}

input,
select,
textarea {
    background: var(--bg-alt);
    border: 1px solid var(--border-main);
    padding: var(--spacing-xs) var(--spacing-sm);
    color: var(--text-content);
    font: var(--style-small-text);
    text-transform: uppercase;

    &:focus {
        outline: 1px solid var(--accent);
    }
}
input,
select {
    letter-spacing: 0.1em;
}
input[type="submit"],
input[type="button"],
#mod_topics_submit,
#mod_topics_submit + input {
    max-width: max-content;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    background: var(--bg-color-transparent);
    font: var(--style-small-text);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--text-content);
    padding: var(--spacing-sm);
    transition-duration: var(--style-duration);
    cursor: pointer;

    &:hover {
        background: var(--bg-color);
        color: var(--text-on-color);
    }
}
input[type="text"],
input[type="number"] {
    font-size: var(--lBody);
    font-family: var(--font-body);
    font-weight: 400;
    text-transform: none;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
	width: 100%;
    border: none;
	height: 6px;
    padding: 1.5px;
    border-radius: 3px;
    background: var(--bg-body);
    margin: 10px 0;
    color: var(--bg-color);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--bg-color);
    width: 8px;
    height: 18px;
    border: 1.5px solid var(--bg-body);
    border-radius: 4px;
}
input[type="range"]::-moz-range-thumb {
    border: none;
    background: var(--bg-color);
    width: 5px;
    height: 15px;
    border: 1.5px solid var(--bg-body);
}
input[type="range"]::-moz-range-progress {
    background: #fff0;
    height: 100%;
    border-radius: 2px;
}
.emoteWrap,
.repWrap,
.input-wrap {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: calc(var(--xsBody) + 1px);
    font-family: var(--font-body-bold);
    line-height: 160%;
    font-weight: 500;
    cursor: pointer;

    &.tos {
        display: flex !important;
        text-transform: none;
        letter-spacing: 0;
        font-size: var(--lBody) !important;
        font-weight: 400;
    }

    input {
        display: none;

        &:checked + .fancy-input {
            color: var(--text-on-color);
            background: var(--bg-color);
        }
    }

    .fancy-input {
        background: var(--bg-color-transparent);
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 0 0 0 1px;
        color: transparent;
        cursor: pointer;

        &.checkbox {
            border-radius: 3px;
        }
        &.radio {
            border-radius: 50%;
        }

        &:hover {
            color: var(--text-on-color);
            background: var(--bg-color);
        }
    }
}
option {
    font-size: var(--mBody);
}
textarea {
    font-size: var(--lBody);
    font-family: var(--font-body);
    font-weight: 400;
    padding: var(--spacing-sm);
    text-transform: none;
}
tag-code {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    button {
        background: var(--bg-color);
        border: 0;
        color: var(--text-on-color);
        text-transform: uppercase;
        font: var(--style-small-text);
        letter-spacing: 0.2em;
        width: max-content;
        padding: var(--spacing-xs) var(--spacing-md);
        line-height: 100%;
        border-radius: 3px;
    }

    pre {
        margin: 0;
    }

    textarea {
        width: 100%;
        height: 100px;
        background: var(--bg-alt);
        border: 1px solid var(--border-main);
        color: var(--text-content);
        font-family: var(--font-body);
        font-size: var(--mBody);
        padding: var(--spacing-sm);
    }
}
#account-switch {
    width: calc(100% - (2 * var(--spacing-lg)));
    height: max-content;
    max-height: calc(100vh - (2 * var(--spacing-lg)));
    margin: var(--spacing-lg);
    padding-right: var(--spacing-sm);
    overflow: auto;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: var(--bg-body);
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.15;
    }

    &.is-open {
        display: flex;
    }

    &--close {
        position: absolute;
        top: var(--spacing-md);
        right: var(--spacing-md);
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        cursor: pointer;

        span {
            &:first-child {
                text-transform: uppercase;
                letter-spacing: 0.3em;
                font-size: var(--sBody);
                top: 1px;
            }
            &:last-child {
                font-size: var(--lBody);
                font-weight: 300;
                display: flex;
                align-items: center;
                gap: var(--spacing-xs);

                i {
                    top: 1px;
                    font-size: var(--mBody);
                }
            }
        }
    }

    #quick-login {
        strong {
            display: block;
            max-width: max-content;
            font-size: calc(var(--xsBody) + 1px);
            font-family: var(--font-body-bold);
            font-weight: 600;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding: var(--spacing-xs) var(--spacing-sm);
            background: var(--bg-color-transparent);
        
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background: var(--bg-color);
                border-radius: 1px;
            }
        }
        form {
            div {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                width: 90vw;
                gap: var(--spacing-xs);
                text-align: left;
                background: var(--bg-content);
                padding: var(--spacing-lg);
                border-radius: 3px;
            }
        }
    }
}
.scroll {
    overflow: auto;
    scrollbar-color: var(--bg-color) transparent;
    scrollbar-width: thin;
    padding-right: var(--spacing-xs);
}
.scroll::-webkit-scrollbar {
    width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}
.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.switch {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    padding: var(--spacing-lg);

    label {
        background: var(--bg-content);
        border-radius: 3px;
        padding: var(--spacing-xs);
        flex: 0 0 calc((100% / 4) - ((var(--spacing-sm) * 3) / 4));
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        cursor: pointer;

        input {
            display: none;
        }

        & > div {
            width: 60px;
            height: 60px;
            background-size: cover;
            background-position: center;
            border-radius: 3px;
            filter: grayscale(1);
            transition-duration: var(--style-duration);
        }

        &:hover {

            & > div {
                filter: grayscale(0);
            }
        }

        b {
            font-size: var(--xlBody);
            font-family: var(--font-body-bold);
            letter-spacing: 0.05em;
            font-weight: 500;
        }
    }
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}
.sticky {
    position: sticky;
    top: calc(var(--size-menu-height) + var(--size-submenu-height));
}
#newstext,
#logostrip,
#submenu,
#submenu + div,
#userlinks {
    display: none;
}

.tippy-box[data-theme~='godlybehaviour'] {
    background-color: var(--bg-color);
    color: var(--text-on-color);
    text-transform: uppercase;
    font: var(--style-small-text);
    letter-spacing: 1px;
    text-align: justify;
    line-height: 160%;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: 3px;
    font-weight: 600;
}
.tippy-box[data-theme~='godlybehaviour'] .tippy-content {
    padding: 0;
    margin: 0;
}
#recent-alerts {
    position: fixed !important;
    top: var(--size-menu-height);
    left: 0 !important;
    width: 100% !important;
    height: calc(100vh - var(--size-menu-height));
    z-index: 49 !important;
    margin: 0;
    padding: 0;
    background: var(--bg-body);
    font-family: var(--font-body);
    font-size: var(--mBody);
    color: var(--text-body);
    overflow-x: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.15;
    }

    .alert {
        &--box {
            display: flex;
            gap: var(--spacing-md);
            padding: var(--spacing-md);
            height: calc(100vh - var(--size-menu-height));

            @media only screen and (min-width: $sm) {
                padding: var(--spacing-lg);
                gap: var(--spacing-lg);
            }

            div:empty {
                display: none;
            }
        }

        &--menu {
            background: var(--bg-alt);
            border: 1px solid var(--border-secondary);
            padding: var(--spacing-md);
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-md);
        }

        &--main {
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(0, max-content));
            gap: var(--spacing-md);
            height: max-content;
            padding: var(--spacing-md);
            height: calc(100vh - var(--size-menu-height) - (2 * var(--spacing-md)));
            width: 100%;
            overflow: auto;
            background: var(--bg-transparent);
            border: 1px solid var(--border-secondary);

            @media only screen and (min-width: $sm) {
                height: calc(100vh - var(--size-menu-height) - (2* var(--spacing-lg)));
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (min-width: $md) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media only screen and (min-width: $lg) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media only screen and (min-width: $xl) {
                grid-template-columns: repeat(5, 1fr);
            }

            .row2 {
                background: var(--bg-color-transparent);
                color: var(--text-content);
                padding: var(--spacing-sm);
                text-transform: uppercase;
                font: var(--style-small-text);
                letter-spacing: 0.1em;
                border: 1px solid var(--border-color);

                a {
                    color: var(--text-content);
                    font-weight: 600;
                }

                img {
                    display: none;
                }
            }
        }
    }
}

body {
    .onlyMobile {
        display: none !important;
    }

    @media only screen and (max-width: $sm) {
        .notMobile {
            display: none !important;
        }
        .onlyMobile {
            display: initial !important;
        }
    }
    .onlyTablet {
        display: none !important;
    }

    @media only screen and (max-width: $md) {
        .notTablet {
            display: none !important;
        }
        .onlyTablet {
            display: initial !important;
        }
    }

    .guestOnly,
    .staffOnly {
        display: none !important;
    }

    &.g-2 {
        .guestOnly {
            display: initial !important;
        }
        .memOnly {
            display: none !important;
        }
    }
    &.g-4 {
        .staffOnly {
            display: initial !important;
        }
    }
}

.hide {
    display: none !important;
}