@import '../global/sizes.scss';

#delcookiesrow,
#mark-as-read-subto,
#delcookiesrow ~ .tableborder .row4,
main > div[align="center"] ~ .tableborder .row4,
main > .tableborder > .row4 {
    text-transform: uppercase;
    font: var(--style-small-text) !important;
    letter-spacing: 0.1em;
}
#delcookiesrow ~ .tableborder,
main > div[align="center"] ~ .tableborder,
main > .tableborder > .row4 {
    margin-bottom: var(--spacing-lg);
}
.wrapmini,
.pagination_pagetxt,
#submenu,
#userlinks,
#logostrip,
.newstext {
    display: none !important;
}
fieldset {
    text-transform: uppercase;

    legend {
        font: var(--style-small-font);
        text-transform: uppercase;
        letter-spacing: 0.1em;

        strong {
            font-weight: 700;
        }
    }
}
body:not(#ST) {
    .tableborder {
        & > .maintitle {
            font-size: 26px;
            font-family: var(--font-serif);
            margin: 0 auto var(--spacing-lg) 0;
            padding: 0 0 10px var(--spacing-md);
        
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 75px;
                height: 3px;
                background: var(--bg-color);
                border-radius: 2px;
            }

            a {
                color: var(--text-body);
            }

            img {
                display: none;
            }
        }
        & > .titlemedium {
            display: block;
            max-width: max-content;
            font-size: calc(var(--xsBody) + 1px);
            font-family: var(--font-body-bold);
            font-weight: 600;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding: var(--spacing-xs) var(--spacing-sm);
            background: var(--bg-color-transparent);
        
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background: var(--bg-color);
                border-radius: 1px;
            }
        }
    }
}
.pagelinks {
    &:empty {
        display: none;
    }
}
.pformstrip {
    display: block;
    max-width: max-content;
    font-size: calc(var(--xsBody) + 1px);
    font-family: var(--font-body-bold);
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: var(--spacing-xs) var(--spacing-sm);
    background: var(--bg-color-transparent);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: var(--bg-color);
        border-radius: 1px;
    }
}
#board-message {
    font: inital;
}
#redirect-screen {
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    padding: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-image);
        background-size: cover;
        background-position: 50% 50%;
        filter: grayscale(1) contrast(120%) brightness(70%);
        opacity: 0.15;
        z-index: 1;
    }
    .tablefill {
        max-width: 325px;
        background: var(--bg-content);
        color: var(--text-content);
        padding: 15px;
        font-size: var(--xsBody);
        text-transform: uppercase;
        line-height: 200%;
        letter-spacing: 0.1em;
        z-index: 3;
    }
}

/**********************************
    Topic List/Topics Shared
***********************************/
#SF,
#ST {
    main {
        & > table {
            background: var(--bg-transparent);
            border: 1px solid var(--border-secondary);
            padding: var(--spacing-sm);
            display: block;

            &:first-of-type {
                position: sticky;
                top: calc(var(--size-menu-height) + var(--size-submenu-height));
                z-index: 2;
                background: var(--bg-alt);

                & + br {
                    display: none;
                }
            }

            tbody {
                display: block;

                tr {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--spacing-sm) var(--spacing-lg);
                    justify-content: space-between;

                    td {
                        width: max-content;
                        display: flex;
                        gap: var(--spacing-lg);
                        align-items: center;

                        .goto-firstunread {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.macro {
    &--button {
        font-size: 16px;
        text-transform: uppercase;
        font-family: var(--font-body-bold);
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1.2em;
    }
    &--header {
        grid-column: 1 / -1;
        line-height: 160%;
        max-width: max-content;
        font-size: 22px;
        font-family: var(--font-body-bold);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: var(--spacing-sm) 0 var(--spacing-sm) var(--spacing-lg);
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background: var(--bg-color);
            border-radius: 2px;
        }
    }
}
.pagination {
    .pagination_current,
    a {
        font-size: 13px;
        text-transform: uppercase;
        font-family: var(--font-body-bold);
        font-weight: 500;
        letter-spacing: 0.05em;
        transition-duration: var(--style-duration);
        line-height: 1.2em;

        &:hover {
            color: var(--text-color);
        }
    }
    .pagination_current {
        color: var(--text-color);
        font-weight: 700;
    }
}
.wrapmini + div[align="right"] {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: var(--spacing-sm);

    form {
        flex: 0 0 100%;

        input[type="text"] {
            top: 1.5px;
            font-size: var(--mBody);
            margin-right: var(--spacing-sm);
        }

        select {
            margin-right: var(--spacing-sm);
        }
    }

    br {
        display: none;
    }

    select {
        padding: var(--spacing-sm);
    }

    #mod_topics_submit,
    #mod_topics_submit + input {
        margin: 0;
    }
}

/**********************************
    Topic/Post Searchs
***********************************/

/**********************************
    Login/Register
***********************************/

/**********************************
    Posts/Replies
***********************************/

/**********************************
    Online List
***********************************/