@import '../global/sizes.scss';

/*******************************
    Header
********************************/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--text-body);
    padding: var(--spacing-xl) 0;
    letter-spacing: 0;

    @media only screen and (min-width: $md) {
        height: 100vh;
        padding: 0;
    }

    body:not(#idx) & {
        display: none;
    }

    h1 {
        display: flex;
        flex-direction: column;

        span {
            width: max-content;

            &:first-child {
                font-family: var(--font-script);
                font-size: 5vw;
                margin-bottom: -7vw;
                opacity: 0.4;
                letter-spacing: 0.1em;
            }
            &:last-child {
                font-family: var(--font-serif);
                font-size: 8vw;
                padding-left: 4vw;
                color: var(--text-color);
            }
        }
    }

    .header {
        max-width: max-content;
        max-height: max-content;

        p {
            display: none;
            position: absolute;
            font-size: var(--xsBody);
            letter-spacing: 0.5em;
            font-weight: 500;
            text-transform: uppercase;

            &.header--tagline {
                bottom: 12.5vw;
                right: 2vw;
                max-width: 43vw;
            }

            &.header--lyric {
                letter-spacing: 1.25vw;
                left: 4vw;
                bottom: 1vw;
                font-family: var(--font-body-bold);
                font-weight: 600;

                .lgFont & {
                    bottom: 0.5vw;
                }

                @media only screen and (min-width: $lg) {
                    bottom: 2vw;
                }
            }

            @media only screen and (min-width: $md) {
                display: initial;
            }
        }
    }
}