@import '../global/sizes.scss';

/*******************************
    Navigation
********************************/
nav {
    position: fixed;
    z-index: 10;
    letter-spacing: 0;

    &.nav--main {
        top: 0;
        left: 0;
        padding: var(--spacing-sm);
        display: flex;
        gap: var(--spacing-sm);
        align-items: center;
        width: 100%;
        height: var(--size-menu-height);
        background: transparent;
        transition-duration: var(--style-duration);

        &.is-sticky,
        &.is-open,
        &.no-header {
            background: var(--bg-body);
        }

        & > a,
        & > button {
            background: none;
            border: none;
            padding: 0;
            margin: 0 var(--spacing-sm) 0 0;
            color: var(--text-body);
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
    
            i {
                display: block;
                font-size: 14px;
    
                &.fa-bars {
                    font-size: 18px;
                }
            }

            &[data-new] {
                color: var(--text-color);
            }

            &[data-new="0"] {
                color: var(--text-body);
            }
        }
    }

    &.nav--menu,
    &.nav--user {
        top: var(--size-menu-height);
        left: calc(-1 * var(--size-popout-width));
        width: var(--size-popout-width);
        height: calc(100vh - var(--size-menu-height));
        background: var(--bg-content);
        padding: var(--spacing-lg);
        transition-duration: var(--style-duration);
        box-shadow: 3px 0 3px var(--bg-body);

        &.is-open {
            left: 0;
        }
    }

    .btn--menu,
    .btn--user {

        .fa-xmark {
            display: none;
        }

        &.is-open {
            .fa-xmark {
                display: initial;
            }
            .fa-user,
            .fa-bars {
                display: none;
            }
        }
    }
}

.nav {
    &--toggles {
        flex-grow: 1;
        display: flex;
        justify-content: end;
        gap: var(--spacing-sm);
        align-items: center;
    
        button {
            width: 40px;
            height: 22px;
            padding: 2px;
            background: var(--bg-alt);
            border: none;
            margin: 0;
            border-radius: 11px;
            cursor: pointer;
    
            span {
                display: flex;
                width: 36px;
                height: 18px;
                background: transparent;
                border-radius: 9px;
            }
    
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 18px;
                height: 18px;
                font-size: 10px;
                border-radius: 50%;
                background: var(--bg-highlight);
            }
    
            .fa-moon,
            .fa-magnifying-glass-minus {
                display: none;
                background: var(--bg-color);
                color: var(--text-on-color);
            }
    
            .light &.btn--theme {
                span {
                    justify-content: end;
                }
    
                .fa-moon {
                    display: flex;
                }
    
                .fa-sun {
                    display: none;
                }
            }
    
            .lgFont &.btn--size {
                span {
                    justify-content: end;
                }
    
                .fa-magnifying-glass-minus {
                    display: flex;
                }
    
                .fa-magnifying-glass-plus {
                    display: none;
                }
            }
        }
    }

    &--menu {

        .scroll {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            max-height: calc(100vh - (2 * var(--spacing-lg)) - var(--size-menu-height));
        }

        br {
            display: none;
        }

        a {
            border-left: 5px solid var(--border-color);
            padding: var(--spacing-sm) var(--spacing-sm);
            font: var(--style-small-text);
            text-transform: uppercase;
            letter-spacing: 0.2em;
            border-radius: 3px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                background: var(--bg-color-transparent);
                transition-duration: var(--style-duration);
                border-radius: 0 3px 3px 0;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    &--breadcrumb {
        top: var(--size-menu-height);
        left: 0;
        width: 100%;
        display: none;
        background: var(--bg-body-alt);
        box-shadow: 0 1px 3px var(--bg-body);

        &.no-header,
        &.is-sticky {
            display: block;
        }

        #navstrip {
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font: var(--style-small-text);
            border-left: 1px solid var(--border-main);
            padding: var(--spacing-sm);
            height: 100%;
            display: flex;
            align-items: center;
            height: var(--size-submenu-height);
            color: var(--text-content);

            a {
                color: var(--text-content);
            }

            & ~ br {
                display: none;
            }

            .fa-ellipsis {
                padding: 0 var(--spacing-sm);
                font-size: 1.2em;
                top: 1px;
            }
        }
    }
}