@import '../global/sizes.scss';

/*******************************
    Profile
********************************/
#Profile {
    header {
        min-height: calc(100vh - (var(--size-menu-height) + var(--size-submenu-height) + var(--spacing-lg)));
        padding-bottom: calc(var(--size-menu-height) + var(--size-submenu-height) + var(--spacing-lg));
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        h1 {
            margin: 0;

            span {
                text-transform: uppercase;

                &:first-child {
                    font-family: var(--font-body-bold);
                    font-size: 8vw;
                    font-weight: 700;
                    color: var(--text-color);
                    opacity: 1;
                    margin: 0;
                    line-height: 120%;
                }
                &:last-child {
                    font-size: 4vw;
                    padding-left: 0;
                    color: var(--text-body);
                    line-height: 120%;
                }

                &:only-child {
                    font-family: var(--font-body-bold);
                    font-size: 8vw;
                    font-weight: 700;
                    color: var(--text-color);
                    opacity: 1;
                    margin: 0;
                    line-height: 120%;
                    text-align: center;
                    opacity: 0.65;
                }
            }
        }
    }
}

.profile {
    &--links {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-sm) var(--spacing-md);
        font-size: var(--xsBody);
        font-family: var(--font-body-bold);
        letter-spacing: 0.3em;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 160%;
        justify-content: center;

        @media only screen and (min-width: $md) {
            gap: var(--spacing-md) var(--spacing-lg);
        }
    }

    &--warning {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-lg);
        font-size: var(--xlBody);
        font-weight: 300;
        letter-spacing: 0.05em;
        background: var(--bg-color-transparent);
        padding: var(--spacing-lg);
        border-left: 3px solid var(--accent);
        border-right: 3px solid var(--accent);
        border-radius: 3px;
        text-align: center;
        max-width: 600px;;

        & > i {
            font-size: 30px;
            color: var(--text-body);
        }

        &:empty {
            display: none;
        }
    }

    &--menu {
        position: sticky;
        top: calc(var(--size-menu-height) + var(--size-submenu-height));
        background: var(--bg-transparent);
        padding: var(--spacing-md);
        border: 1px solid var(--border-secondary);
        z-index: 2;

        &.is-sticky {
            background: var(--bg-alt);
        }

        tag-tabs {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);

            & > tag-labels {
                padding: 0 var(--spacing-sm);
            }

            & > tag-tabset {
                padding: var(--spacing-sm) 0 0;
                margin: 0 var(--spacing-sm);
                border-top: 1px solid var(--border-main);
            }
        }
    }
    &--content {
        margin-top: var(--spacing-lg);

        .profile--border {
            background: var(--bg-transparent);
            padding: var(--spacing-lg);
            border: 1px solid var(--border-secondary);
        }

        tag-tab[data-key="#basics"] {
            display: grid;
            grid-template-rows: 315px 315px 115px auto;
            gap: var(--spacing-md);

            @media only screen and (min-width: $xs) {
                grid-template-columns: auto 115px;
                grid-template-rows: 315px 315px 115px;
            }

            @media only screen and (min-width: $md) {
                grid-template-columns: 115px 1fr 1fr 115px;
                grid-template-rows: 445px 115px;
            }

            @media only screen and (min-width: $lg) {
                grid-template-columns: 1fr 1fr 115px;
                grid-template-rows: 315px 115px;
            }
        }

        tag-tab[data-key="#details"] {
            display: grid;
            gap: var(--spacing-md);
            grid-template-rows: max-content max-content;

            @media only screen and (min-width: $md) {
                grid-template-columns: 300px auto;
                grid-template-rows: max-content;
            }
        }

        tag-tab[data-key="#plotting"] {
            display: grid;
            gap: var(--spacing-md);
            grid-template-rows: max-content max-content max-content;

            @media only screen and (min-width: $md) {
                grid-template-columns: 1.5fr 1fr;
                grid-template-rows: max-content max-content;
            }
        }

        tag-tab[data-key="#player"] {
            display: grid;
            gap: var(--spacing-md);
            grid-template-rows: max-content max-content max-content;

            @media only screen and (min-width: $sm) {
                grid-template-columns: 115px auto;
                grid-template-rows: 115px max-content max-content max-content;
            }

            @media only screen and (min-width: $md) {
                grid-template-columns: 115px 1fr 1fr 115px;
                grid-template-rows: 115px max-content max-content;
            }
        }

        tag-tab[data-key="#roster"] {
            a.profile--account {
                background: var(--bg-transparent);
                border: 1px solid var(--border-secondary);
                padding: var(--spacing-sm);
                display: flex;
                gap: var(--spacing-md);

                .profile--account-image {
                    width: 50px;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    flex: 0 0 50px;
                }

                .profile--account-info {
                    b {
                        display: block;
                        line-height: 160%;
                        letter-spacing: 0;
                        color: var(--text-content);
                        font-family: var(--font-body-bold);
                        font-size: var(--xlBody);
                        font-weight: 600;
                        padding: 0 0 var(--spacing-sm) 0;
    
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 35px;
                            height: 2px;
                            background: var(--bg-color);
                            border-radius: 1px;
                        }
                    }
                    span {
                        font: var(--style-small-text);
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
    }

    &--aesthetic {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-sm);

        @media only screen and (min-width: $xs) {
            grid-column: span 2;
        }

        @media only screen and (min-width: $lg) {
            grid-column: span 1;
            grid-row: span 2;
        }

        span {
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &.Grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: var(--spacing-sm);
        }

        &.Mosaic {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: var(--spacing-sm);
        }

        .twoWide {
            grid-column: span 2;
        }

        .twoHigh {
            grid-row: span 2;
        }
    }

    &--basics {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);

        @media only screen and (min-width: $xs) {
            grid-column: span 2;
        }

        .scroll {
            height: calc(315px - (var(--spacing-md) * 2));
            grid-template-rows: auto;

            @media only screen and (min-width: $xs) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (min-width: $md) {
                grid-template-columns: 1fr;
                height: calc(445px - (var(--spacing-md) * 2));
            }

            @media only screen and (min-width: $lg) {
                grid-template-columns: 1fr 1fr;
                height: calc(315px - (var(--spacing-md) * 2));
            }
        }
    }

    &--item {
        display: flex;
        flex-direction: column;
        font-size: var(--lBody);
        font-weight: 300;
        letter-spacing: 0.05em;
        gap: var(--spacing-xs);

        strong {
            line-height: 160%;
            max-width: max-content;
            display: block;
            max-width: max-content;
            font-size: calc(var(--xsBody) + 1px);
            font-family: var(--font-body-bold);
            font-weight: 600;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding: var(--spacing-xs) var(--spacing-sm);
            background: var(--bg-color-transparent);
        
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background: var(--bg-color);
                border-radius: 1px;
            }
        }

        span {
            line-height: 200%;
        }
    }

    &--traits {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-sm) var(--spacing-md) var(--spacing-md);
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-md);

        @media only screen and (min-width: $md) {
            grid-column: span 3;
        }

        @media only screen and (min-width: $lg) {
            grid-column: span 1;
        }

        .trait {
            flex: 0 0 calc(50% - (var(--spacing-md) / 2));
        }
    }

    &--image {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-sm);

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &--cheatsheet {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);
        text-align: justify;

        li {
            &:not(:last-child) {
                margin-bottom: var(--spacing-md);
            }
        }

        .scroll {
            max-height: 210px;
            padding-right: var(--spacing-md);

            .lgFont & {
                max-height: 203px;
            }

            @media only screen and (min-width: $md) {
                max-height: 360px;
    
                .lgFont & {
                    max-height: 353px;
                }
            }
        }
    }

    &--freeform {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);
        text-align: justify;

        .scroll {
            max-height: 360px;
            padding-right: var(--spacing-md);
            
            .lgFont & {
                max-height: 353px;
            }
        }
    }

    &--overview {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);
        text-align: justify;

        @media only screen and (min-width: $md) {
            grid-row: span 2;
        }

        .scroll {
            max-height: 360px;
            padding-right: var(--spacing-md);
            
            .lgFont & {
                max-height: 353px;
            }
        }
    }

    &--interested,
    &--avoiding {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);
        text-align: justify;

        li {
            &:not(:last-child) {
                margin-bottom: var(--spacing-md);
            }
        }

        .scroll {
            max-height: 210px;
            padding-right: var(--spacing-md);

            .lgFont & {
                max-height: 203px;
            }

            @media only screen and (min-width: $md) {
                max-height: 130px;
    
                .lgFont & {
                    max-height: 130px;
                }
            }
        }
    }

    &--tracker {
        &-menu {
            background: var(--bg-transparent);
            padding: var(--spacing-md);
            border: 1px solid var(--border-secondary);
            margin-bottom: var(--spacing-md);

            a {
                font-family: var(--font-body-bold);
                font: var(--style-small-text);
                letter-spacing: 0.1em;
                border: 0;
            }

            i {
                color: var(--text-content);
            }

            button {
                &:hover {
                    i {
                        color: var(--text-on-color);
                    }
                }
            }
        }

        &-content {
            tag-tab {
                gap: var(--spacing-md);
            }
        }

        &-item {
            background: var(--bg-transparent);
            border: 1px solid var(--border-secondary);
            padding: var(--spacing-md);
            display: flex;
            flex-direction: column;
            font: var(--style-small-text);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            gap: 5px;

            tag-highlight {
                padding: var(--spacing-xs) var(--spacing-sm);
            }

            .fa-anchor {
                display: none;
                color: var(--text-content);
                font-size: 18px;
                position: absolute;
                bottom: var(--spacing-sm);
                right: var(--spacing-sm);
            }

            &[data-owing="myturn"] {
                .fa-anchor {
                    display: initial;
                }
            }

            &[data-owing="archived"] {
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                }
            }

            & > span {
                padding-right: 30px;

                &:empty {
                    display: none;
                }

                &:first-child {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--spacing-xs);
                }
            }

            a {
                border: none;
                padding: 0;
                font-size: 1em;
            }

            & > a {
                line-height: 160%;
                letter-spacing: 0;
                color: var(--text-content);
                font-family: var(--font-body-bold);
                font-size: var(--xlBody);
                font-weight: 600;
                padding: 0 0 var(--spacing-sm) 0;
                border: none;
                margin-bottom: var(--spacing-xs);

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 35px;
                    height: 2px;
                    background: var(--bg-color);
                    border-radius: 1px;
                }
            }
        }
    }

    &--nothreads {
        grid-column: 1 / -1;
        max-width: 500px;
        margin: 0 auto;
        text-align: justify;
        border-left: 3px solid var(--border-color);
        padding: var(--spacing-sm) var(--spacing-md);
        background: var(--bg-color-transparent);
        font-size: var(--lBody);
        font-weight: 300;
        border-radius: 3px;
        line-height: 200%;
        letter-spacing: 0.025em;
    }

    &--member-avatar {
        display: none;
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-sm);

        span {
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        @media only screen and (min-width: $sm) {
            display: initial;
        }
    }

    &--alias {
        padding: var(--spacing-md);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: var(--font-body-bold);
        letter-spacing: 0.5vw;
        font-weight: 700;
        font-size: clamp(20px, 4vw, 40px);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background: var(--border-color);
            border-radius: 3px;
        }

        .memAccOnly {
            font-size: clamp(20px, 2vw, 40px);
        }

        @media only screen and (min-width: $sm) {
            padding: 0 var(--spacing-lg);
        }

        @media only screen and (min-width: $md) {
            grid-column: span 3;
        }
    }

    &--player {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);

        @media only screen and (min-width: $sm) {
            grid-column: span 2;
            grid-template-columns: 1fr 1fr !important;
        }
        
        @media only screen and (min-width: $md) {
            grid-column: span 4;
            grid-template-columns: 1fr 1fr 1fr !important;
        }
    }

    &--awards,
    &--triggers {
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-md);
        
        @media only screen and (min-width: $sm) {
            grid-column: span 2;
        }

        .scroll {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-xs);
            max-height: 60px;

            .lgFont & {
                max-height: 53px;
            }

            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &--awards {
        .scroll {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-sm);

            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}