@import '../global/sizes.scss';

/*******************************
    Topic List
********************************/
.topiclist {
    margin-top: clamp(60px, 8vw, 120px);
    margin-bottom: var(--spacing-md);

    &--info {
        font: var(--style-small-text);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        margin-bottom: var(--spacing-md);
        background: var(--bg-transparent);
        border: 1px solid var(--border-secondary);
        padding: var(--spacing-sm);

        & > div,
        & + br {
            display: none;
        }

        select {
            margin: 0 var(--spacing-xs);
        }

        input[type="submit"] {
            padding: var(--spacing-xs) var(--spacing-sm);
            line-height: 190%;
        }
    }

    &--section {
        grid-column: 1 / -1;
    }
}
.topic {
    background: var(--bg-transparent);
    border: 1px solid var(--border-secondary);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    font-size: calc(var(--xsBody) + 1px);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    .topiclist > &:last-child:nth-child(2n),
    .macro--header + .topiclist--section > &:last-child:nth-child(2n + 1) {
        grid-column: 1 / -1;
        flex-direction: row;
        flex-wrap: wrap;

        .topic--title,
        .topic--description,
        .topic--info {
            flex: 0 0 100%;
        }

        .topic--latest,
        .topic--started {
            flex: 0 0 100%;

            @media only screen and (min-width: $sm) {
                flex: 0 0 50%;
            }
        }
    }

    .fa-anchor {
        display: none;
        font-size: 20px;
        top: 10px;
    }
 
    &.new-marker {
        .fa-anchor {
            display: initial;
        }
    }

    &--description {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-xs);
    }
 
    &--title {
       display: flex;
       gap: var(--spacing-md);
 
        h3 {
            display: block;
            line-height: 160%;
            letter-spacing: 0;
            color: var(--text-content);
            font-family: var(--font-body-bold);
            font-size: 20px;
            font-weight: 600;
            padding: 0 0 var(--spacing-sm) 0;
            margin: 0 0 var(--spacing-sm);
            text-transform: uppercase;
            letter-spacing: 0.05em;
    
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 35px;
                height: 2px;
                background: var(--bg-color);
                border-radius: 1px;
            }
        }
    }

    &--info {
        display: flex;
        gap: var(--spacing-lg);
        font-size: var(--xsBody);
    }
 
    &--stat {
        b,
        a {
            font-size: 1.2em;
        }
    }

    &--started,
    &--latest {
        display: flex;
        flex-direction: column;
        gap: 3px;
        line-height: 160%;
        padding-top: var(--spacing-md);
        border-top: 1px solid var(--border-secondary);
        margin-top: var(--spacing-sm);
    
        & > a {
            font-family: var(--font-body-bold);
            font-size: var(--mBody);
            line-height: 160%;
        }
    
        & > span {
            a {
                color: var(--accent);
                font-family: var(--font-body-bold);
                font-weight: 700;
                font-size: 1.05em;
            }
            &:last-child {
                font-size: var(--xsBody);
                font-style: italic;
            }
        }
    }

    body.g-4 & .staffOnly.input-wrap,
    body.g-26 & .staffOnly.input-wrap {
        display: flex !important;
        align-items: center;

        .fancy-input {
            height: 18px;
            width: 18px;
            background: var(--bg-color-transparent);
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;
            margin-right: var(--spacing-sm);
            cursor: pointer;
            transition-duration: var(--style-duration);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: var(--bg-color);
                border-radius: 3px;
                transition-duration: var(--style-duration);
            }

            &:hover {
                color: var(--text-on-color);

                &::before {
                    width: 100%;
                }
            }
        }

        input {
            display: none;

            &:checked + .fancy-input {
                color: var(--text-on-color);
                
                &::before {
                    width: 100%;
                }
            }
        }
    }
}